header.header
	.container
		a.header__logo(href="#")
			img.header__logo-img(src="./img/logo/main_logo.png", alt="AppleShop")
			h1.header__logo-title AppleShop
		.header__phone
			a.header__phone-link(href="tel:+79213221232")
				sup.header__phone-code +7 (921) 
				span.header__phone-number 322 12 32
		a.header__mail(href="mailto:manager@company.com") manager@company.com