nav.nav
	.container
		ul.nav__list
			li.nav__item
				a.nav__link(href="javascript:void(0)") Мобильные телефоны
			li.nav__item
				a.nav__link.nav__active(href="javascript:void(0)") Планшеты
			li.nav__item
				a.nav__link(href="javascript:void(0)") Mp3 Плееры
			li.nav__item
				a.nav__link(href="javascript:void(0)") Персональные компьютеры
			li.nav__item
				a.nav__link(href="javascript:void(0)") Ноутбуки
			li.nav__item
				a.nav__link(href="javascript:void(0)") Apple TV
			li.nav__item
				a.nav__link(href="javascript:void(0)") Аксессуары